.services {
     display:flex;

     @include respond(tab-port) {
        flex-wrap:wrap;
     }

    &__content {
        flex-basis:60%;
        @include flexCenter;
        flex-direction: column;

        @include respond(tab-port) {
            flex-basis:100%;
            margin-top:2rem;
            margin-bottom:2rem;
         }

        h2,p {
            width:60%;
        }
       
    }

    &__image {
        flex-basis:40%;
        display: grid;
        align-items: center;
        width:100%;
        justify-self:center;

        @include respond(tab-port) {
            flex-basis:100%;
            margin-top:2rem;
            margin-bottom:2rem;
         }

        figure {
            width:100%;
            height:85vh;
            //  height:746px;

            img {
                width:100%;
                height:100%;
                object-fit:center;
            }
        }
    }
}

.features {
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(50rem,1fr));
    padding:10rem 15rem;
    grid-gap:4rem;

    @include respond(phone) {
        grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    }

    h2 {
        padding-bottom: 2rem;
    }
}


.pro {
    text-align:center;
    padding-top:3rem;
    padding-bottom:3rem;

    h2,p {
        padding-bottom:2rem;

        @include respond(tab-port) {
            width:70%;
            margin:1rem auto;
         }
    };

    &__gallery {
        display: flex;
        align-items: center;
        justify-content:center;
        padding:2rem 15rem;

        @include respond(phone) {
           flex-wrap:wrap;
        }

        &--item {
            flex-basis:30%;

            @include respond(phone) {
               flex-basis:100%;
            }

            &:not(:last-child) {
                margin-right:1rem;         
            }

            figure {
                margin-bottom:1rem;

                img {
                    width:100%;
                    height: auto;
                    object-fit:center;
                }
            }
        }
    }

}
.projects {
    text-align:center;
    @include flexCenter;
    flex-direction: column;
    padding-bottom: 3rem;

    h2,p {
        padding-bottom:2rem;
    };



    &__gallery {
        display: flex;
        width:80%;

        @include respond(tab-port) {
           flex-direction:column;
           width:85%;
           margin:3rem auto;
        }


        &--item {
            display: flex;
            flex-direction: column;
            padding-right: 2rem;

            figure {
                padding-bottom:2rem;
                
                @include respond(tab-port) {
                    width:20rem;
                    height:10rem;
                 }


                img {
                    @include respond(tab-port) {
                       width:100%;
                       height: 100%;
                       object-fit:center;
                     }
                }
            }
        }
    }
}