.footer {
    height:20vh;
    display: flex;
    margin:0;

    @include respond(tab-port) {
        flex-wrap:wrap;
    }

    p {
        color:$dark_grey;
        font-size:1rem;
        font-weight:500;

        @include respond(misc2) {
            font-size:1.5rem;
        }
    }

    h6 {
        font-size:1.4rem;
        color:$black;

        @include respond(misc2) {
            font-size:1.9rem;
        }
    }


    &__clients {
        flex-basis:65%;
        display:flex;
        align-items: center;
        padding-left:10rem;

        @include respond(tab-port) {
            flex-basis:100%;
            margin-bottom:1rem;
        }

        @include respond(misc2) {
            padding-right:10rem;
          }

        &__holder {
            width:100%;
            height:4rem;
            @include flexCenter;
            justify-content: flex-start;

            @include respond(misc2) {
                justify-content:center;
              }
            
            img {
               width:auto;
               height:100%;
               object-fit: cover;
            }
        }

        ul {
            flex-basis:100%;
            display: flex;
            justify-content: space-between;

            @include respond(misc2) {
               flex-direction:column;
               justify-content: center;
               align-content: center;
             }

            li {
                flex-grow:1;

                &:not(:last-child) {
                   margin-right:2rem;
                }

                 position:relative;
                 cursor: pointer;
                 transition:all .2s;

                 @include respond(tab-port) {
                    margin-left: 1rem;
                 }

                 @include respond(misc2) {
                   margin-bottom:2rem;
                  }

                 .testimonial {
                    box-shadow: 0px 8px 32px rgba(0, 53, 107, 0.2);
                     background-color:$base;
                     position: absolute;
                     top:-20rem;
                     left:-5rem;
                     width:25rem;
                     transition:all .2s;
                     visibility: hidden;
                     display:flex;
                     flex-direction:column;
                     align-items: flex-start;
                     padding:1rem 2rem;

                    &::before,
                    &::after {
                        content: "";
                        position: absolute;
                        width: 0; 
                        height: 0; 
                        transition: 0.4s ease-out; 
                        left:5rem;
                        bottom:-1rem;
                        border-left: 20px solid transparent;
                        border-right: 20px solid transparent;
                        border-top: 20px solid $base;
                    }


                    &__image{
                        width:4rem;
                        height:4rem;
                        margin-bottom:1rem;
        
                        img {
                            border-radius:50%;
                            height:100%;
                            width:100%;
                        }
                    }

                    h6 {
                        margin-bottom:1rem;

                    }
                    p {
                        margin-bottom:1rem;
                    }

                    h5 {
                        font-weight: 600;
                        font-size: 1.2rem;
                        line-height: 1.4rem;
                        border-left: 2px solid $main;
                        padding-left:1rem;
                    }
                 }

                 &:hover .testimonial {
                     visibility: visible;
                 }
            }
        }
    }

    &__links {
        flex-grow:1;
        flex-basis:auto;
        display: flex;
        background-color: $grey;
        padding:2rem;
        justify-content: space-between;

        @include respond(misc2) {
           align-items: center;
        }

        @include respond(phone) {
            flex-direction:column;
          }


        &__website {

            @include respond(misc2) {
                text-align: center;
                margin-bottom:1rem;
             }

            ul {
                li {
                    a {
                        color:$dark_grey;
                        font-size:1rem;
                        font-weight:500;

                        @include respond(misc2) {
                            font-size:1.5rem;
                        }
                    }
                }
            }

        }

        &__contact {
            @include respond(misc2) {
               text-align: center;
               margin-bottom:1rem;
              }
        }

        &__terms {
            @include respond(misc2) {
               text-align: center;
               margin-bottom:1rem;
              }
        }
    }
}