.introduction {
  //  height:70vh;
    display: flex;
    justify-content:space-between;
    align-items:center;

    &__content {
        flex-basis:40%;

        p {
            font-style: normal;
            font-weight: 800;
            font-size: 1.8rem;
            line-height: 2.4rem;
            color:$main;
        }
    }
}