.main {
    min-height:80vh;
    background-color: $base;
    font-family: Ubuntu, sans-serif;
    padding-left:10rem;
    padding-right:10rem;

    background-image: 
      url("../../images/Ellipse\ 13.svg"),
      url("../../images/Ellipse\ 12.svg") ;
    background-repeat: no-repeat;
    background-size:
      100% 45rem,
      100% 55rem;

    @include respond(tab-port) {
        padding-left:7rem;
        padding-right:7rem;
    }
}

a {
    text-decoration:none;
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;

    &:hover {
        text-decoration:none;
    }

}

li {
    list-style:none;
}


.btn {
        background:$main;
        box-shadow: 0px 8px 32px rgba(0, 53, 107, 0.2);
        border-radius: 50px;
        padding:1rem 3rem 1rem 3rem;;
        color:$base;
        font-weight: 500;
        font-size: 1.8rem; 
        transition:all .2s;

        &:hover {
            background-color:rgb(11, 37, 63);
        } 
}

#notice {
    background-color:$link_item;
}

@keyframes swap {
    0% {
        z-index:2;
        opacity:1;
    }

    100% {
        z-index:-1;
        opacity:0;
    }
}