// .misc {
//     height:80%;
//     width:80%;
//     background-color: red;
//     border-radius:1rem;
//     box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
//     position: relative;
//     overflow: hidden;
//     position: relative;

//     @include respond(misc2) {
//        height:90%;
//        background-color: green;
//      }

//      @include respond(phone) {
//        height:70vh;
//        background-color: yellow;
//      }
// }

.main {
    //min-height:100vh;
    background-color: $base;
    font-family: Ubuntu, sans-serif;
    padding-left:5rem;
    padding-right:5rem;
}

a {
    text-decoration:none;
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;

    &:hover {
        text-decoration:none;
    }

}

li {
    list-style:none;
}


.btn {
        background:$main;
        box-shadow: 0px 8px 32px rgba(0, 53, 107, 0.2);
        border-radius: 50px;
        padding:1rem 3rem 1rem 3rem;;
        color:$base;
        font-weight: 500;
        font-size: 1.8rem;
}


@keyframes swap {
    0% {
        z-index:2;
        opacity:1;
    }

    100% {
        z-index:-1;
        opacity:0;
    }
}