.basefooter {
    background-color: $light_grey;
    height:20vh;
    @include flexCenter;

    ul {
        width:80%;
        @include flexCenter;
        justify-content: space-around;

        li {
            // &:not(:last-child) {
            //     margin-right:4rem;
            // }
        }
    }
}

.mainfooter {
    @include flexCenter;
    background-color: $grey;
    padding-top:2rem;
    padding-bottom:2rem;

    &__links {
        display: flex;
        width:80%;
        justify-content: space-between;

        &__website {
            h6 {
                font-family: Ubuntu;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 18px;
                color: #000000;
            }

            ul {
                li {
                    a {
                        font-family: Ubuntu;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 24px;
                        color: #666666;

                    }
                }
            }

        }

        &__contact {
            
            h6 {
                font-family: Ubuntu;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 18px;
                color: #000000;
              }

              p {
                font-family: Ubuntu;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 24px;
                color: #666666;
              }
        }

        &__terms {
            flex-basis:20%;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            // padding-bottom:2rem;

            &-item {

            }

           a {
            font-family: Ubuntu;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 24px;            
            color: #666666;
            display:block;
           }

           p {
            font-family: Ubuntu;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 24px;            
            color: #666666;
           }
        }
    }
}